<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My Blog • {{ pageTitle }}</title>
    </head>
    <body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <h1><a href="/">Toolset</a></h1>
        <h2>{{ pageTitle }}</h2>

        {{ content }}

    </body>
</html>